/* PAGE STYLES */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-color: black;
}

.container {
  background-color: black;
}

/* SECTION STYLES */
section {
  height: 100vh;
}

/* BACKGROUND STYLES */
.background {
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#first-background {
  background-image: url('../images/background-1.png');
  opacity: 1;
  z-index: 10;
}

#second-background {
  background-image: url('../images/background-2.png');
  opacity: 1;
  z-index: 9;
}

#third-background {
  background-image: url('../images/background-3.png');
  opacity: 1;
  z-index: 8;
}

#fourth-background {
  background-image: url('../images/background-4.png');
  opacity: 1;
  z-index: 7;
}

/* TEXT STYLES */
.scroll-text {
  display: block;
  width: 700px;
  height: 100vh;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 20;
}

.scroll-text ul {
  text-align: left;
}

.scroll-text p, li {
  font-size: 1.4em;
  color: white;
  line-height: 1.5em;
}

@media (max-width: 1100px) {
  .scroll-text {
    width: 480px;
  }

  .scroll-text p, li {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .scroll-text {
    width: 300px;
  }

  .scroll-text p, li {
    font-size: 0.8em;
  }
}
