/* PAGE STYLES */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-color: black;
}

.container {
  background-color: black;
}

/* SECTION STYLES */
section {
  height: 100vh;
  font-size: 200px;
}

/* BACKGROUND STYLES */
.background {
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#first-background {
  background-image: url('../images/background-1.png');
  opacity: 1;
  z-index: 10;
  height: 100vh;
  width: 100vw;
}

#second-background {
  background-image: url('../images/background-2.png');
  opacity: 1;
  z-index: 9;
  height: 95vh;
  width: 95vw;
}

#third-background {
  background-image: url('../images/background-3.png');
  opacity: 1;
  z-index: 8;
  height: 90vh;
  width: 90vw;
}

#fourth-background {
  background-image: url('../images/background-4.png');
  opacity: 1;
  z-index: 7;
  height: 85vh;
  width: 85vw;
}

/* TEXT STYLES */
.scroll-text {
  display: block;
  width: 700px;
  height: 100vh;
  text-align: center;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 20;
}

.scroll-text ul {
  text-align: left;
}

.scroll-text p, li {
  font-size: 1.2rem;
  color: white;
  line-height: 1.5rem;
}

@media (max-width: 600px) {
  .scroll-text {
    width: 300px;
  }

  .scroll-text p, li {
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .scroll-text {
    width: 480px;
  }

  .scroll-text p, li {
    font-size: 1rem;
  }
}
