/* PAGE STYLES */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.container {
  background-color: black;
}

/* SECTION STYLES */
section {
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#first-section {
  background-image: url('../images/background-1.png');
}

#second-section {
  background-image: url('../images/background-2.png');
}

#third-section {
  background-image: url('../images/background-3.png');
}

#fourth-section {
  background-image: url('../images/background-4.png');
}

/* TEXT STYLES */
.scroll-text {
  height: 100%;
  width: 700px;
  text-align: center;
  margin: auto;
}

.scroll-text ul {
  text-align: left;
}

.scroll-text p, li {
  font-size: 1.4em;
  color: white;
  line-height: 1.5em;
}

@media (max-width: 1100px) {
  .scroll-text {
    width: 480px;
  }

  .scroll-text p, li {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .scroll-text {
    width: 300px;
  }

  .scroll-text p, li {
    font-size: 0.8em;
  }
}
